.file-upload-input {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.import-button {
    display: flex;
    padding: 7px 13px;
    border-radius: 8px;
    border: none;
    background-color: #166FF6;
    color: white;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}

.import-button:hover {
    background-color: #356ce8;
}
