.settings {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    background-color:#eef3f9;
    padding: 10px 20px;
    border-radius: 15px;
}

.setting {
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.setting h5{
    color: grey;
    margin:0;
    padding: 0;
}

.setting div {
    font-weight: bold;
    padding:3px;
}

.change-button {
    display: flex;
    padding: 7px 13px;
    border-radius: 8px;
    border: none;
    background-color: #047AFE;
    color:white;
    gap:8px;
}

.change-button:hover {
    background-color: #356ce8;
}

