.board {
    display: flex;
    gap: 5vh;
    height: 100%;
    padding:10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board h1 {
    margin: 0;
    padding: 0;
    color:#808098;

}



