.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    background-color: white;
}

.setting {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.setting h5 {
    color: black;
    font-weight: bold;
    margin-bottom: 8px;
}

.select, .dateInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.dateInput {
    cursor: pointer;
}

.datePickerWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.dateInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.dayPicker {
    display: inline-block;
    font-size: 1rem;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}


.calendarIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #666;
}


