.bad {
    background-color: #ffe6e6;
}

.normal {
    background-color: #ffffff;
}

.good {
    background-color: #e6ffe6;
}

.header-cell {
    font-weight: bold;
    text-align: center;

}

.ag-theme-alpine .ag-header-cell {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ag-theme-alpine .ag-cell {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}





