@font-face {
    font-family: 'Urbanist';
    src: url('../../../../fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ag-theme-quartz {
    --ag-border-radius: 10px;
    --ag-row-border-style: none;
    padding: 0 10px;
    --ag-font-size: 13px;
    --ag-font-family: 'Urbanist', sans-serif;
    --ag-grid-size: 4px;
    width: 100%;
    height: 120px;
    margin-top: 2vh;
    --ag-borders: none;
}

.bad {
    background-color: #ffe6e6;
    text-align: center;
}

.normal {
    background-color: #fcfcfc;
    text-align: center;
}

.good {
    background-color: #e6ffe6;
    text-align: center;
}


.table-header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    text-align: center;
}
.table-title {
    display: flex;
    gap: 10px;
}

.icon {
    color: #047AFE;
}

.icon:hover {
    color: #191f9c;
}


.headerYear {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}












