.ag-theme-quartz {
    --ag-border-radius: 10px;
    --ag-borders: none;
    --ag-row-border-style: none;
    padding: 0 10px;
    --ag-font-size: 13px;
    --ag-font-family: 'Urbanist', sans-serif;
    --ag-grid-size: 4px;
    width: 100%;
    height: auto;
    margin-top: 2vh;
}

